<div class=banner>
  <h1>Log In Page</h1>
</div>

<br>
<br>

<div class='form'>  
<%= form_for @user, url: login_path, method: :post do |f| %>
  <%= f.label :user_name %>:
  <%= f.text_field :user_name %>
  <br>
  <br>
  <br>
  <%= f.label :password %>:
  <%= f.password_field :password %>
  <br>
  <br>
  
  <div class='button'>
    <%= f.submit "login" %> or <%= link_to(controller: 'users', action: 'new') { 'signup' } %>
  </div>

<% end %>
</div>