<div class='purchase_box'>

    <div class='error_message_login'>
        <% if flash[:user_error] %>
            <p><%= flash[:user_error] %></p>
        <% end %>
    </div>

    <div class='img_box'>
        <p><%= image_tag(@product.image, class:'img') %></p>
    </div>

    <div class='product_details'>
        <p>Name: <%= @product.name %></p>
        <p>Seller: <%= @product.seller.name%></p>
        <p>Contact info: <%= @product.seller.email %></p>
        <p>Condition: <%= @product.condition %>
        <p>$<%= @product.price %></p>
    </div>

    <div >

<%= button_to "purchase", purchased_items_path, params: {purchased_item: {product_id: params[:id], buyer_id: @current_user.id}}, method: :post %>
