<div class='purchase_box'>

    <div class='error_message_login'>
        <% if flash[:user_error] %>
            <% flash[:user_error].each do |msg| %>
                <%= msg %>
            <% end %>
        <% end %>
    </div>

    <div class='product_info'>
        <div class='img_box'>
            <%= image_tag(@product.image, class:'show_page_img') %></p>
        </div>

        <div class='details'>
            <ul>
                <li><h3>Seller Information</h3></li>
                <li><%= @product.name %></li>
                <li>Seller: <%= @product.seller.name%></li>
                <li>Contact info: <%= @product.seller.email %></li>
                <li>Condition: <%= @product.condition %>
                <li>Category: <%= @product.product_type %></li>
                <li>Color: <%= @product.color %></li>
                <li>Description: <%= @product.description %></li>
                <li><b>Total: $<%= @product.price %></b></li>
        </div>

        <div class='user_info'>
            <ul>
                <li><h3>Your Information</h3></li>
                <li><%= @user.name %></li>
                <li>Contact: <%= @user.email %></li>
                <li>Ship to: <%= @user.address %></li>
             <div class='buybttn'>
                <%= button_to "purchase", purchased_items_path, params: {purchased_item: {product_id: params[:id], buyer_id: @user.id}}, method: :post, :class => 'bttn' %>
            </div>    
            </ul>
        </div>
    </div>
</div>
