<div class="show_box">

  <h1><%= @user.name %>'s Seller Page</h1>

  <div class="show_field">
    <p>Contact: <%= @user.email %></p>
  </div>

  <% @user.products.each do |product|%>
  <div class="show_field">
        <% if product.notsold %>
          <p><%= link_to product.name, product_path(product) %></p>
          <%= link_to image_tag(product.image, style: "width:100px;"), product_path(product)%>
        <% end %>
    <% end %>
  </div>

  <div class="show_field">
    <% @user.seller_reviews.each do |review| %>
    <p><%= "My Reviews" %></p>
    <%= review.comment %>
    <%= review.rating %>
    <% end %>
  </div>

</div>
