
<div class='allproducts'>
  <div class='shoes'>
    <% @shoes.each do |shoe|%>
  <% if shoe.image.attached? %>
    <%= link_to image_tag(shoe.image, style: "width: 100px;"), shoe %>
  <% end %>
    <%= link_to shoe.name, shoe %>
    <% end %>
  </div>

  <div class='accessories'>
    <% @accessories.each do |accessory| %>
  <% if accessory.image.attached? %>
    <%= link_to image_tag(accessory.image, style: "width: 100px;"), accessory %>
  <% end %>  
    <%= link_to accessory.name, accessory %>
    <% end %>
  </div>

  <div class='streetwears'>
    <% @streetwears.each do |streetwear| %>
  <% if streetwear.image.attached? %>    
    <%= link_to image_tag(streetwear.image, style: "width: 100px;"), streetwear %>
  <% end %>
    <%= link_to streetwear.name, streetwear %>
    <% end %>
  </div>
</div>
