 <div class='error_message'>
    <% if flash[:user_error] %>
        <p><%= flash[:user_error] %></p>
    <% end %>
</div>

<div class='product_info'>
    <div class='img_box'>
        <%= image_tag(@product.image, class:'show_page_img') %></p>
    </div>
    
    <div class='details'>

        <% if @product.cart_count > 0%>
            <p>This item is in <%= pluralize(@product.cart_count, 'cart') %>!</p>
        <% end %>

        <h3>Product: <%= @product.name %></h3>
        <p>Seller: <%= link_to @seller.name, user_path(@seller) %></p>
        <p>$<%= @product.price %></p>
        <p>Category: <%= @product.product_type %></p>
        <p>Color: <%= @product.color %></p>
        <p>Description: <%= @product.description %></p>
        <div class='bttngrp'>
            <%= button_to "Purchase", new_purchased_item_path, params: { id: params[:id] }, :method => "get", :class => 'bttn' %>
            <%= button_to "Add to Cart", pending_carts_path, params: {pending_cart:{ user_id: @user.id, product_id: params[:id] }}, :method => "post", :class => 'bttn' %>
        </div>
    </div>
</div>