<div class='form_container'>
  <div class='error_message_form'>
      <% if flash[:user_error] %>
          <p><%= flash[:user_error] %></p>
      <% end %>
  </div>

        <div class='form_box'>
            <%= form_for @review do |f| %>
            <div class='field'>
            <%= f.label :comment %><br>
            <%= f.text_area :comment, rows: "5", :class => 'input' %><br>

            <%= f.label :rating %><br>
            <%= f.number_field :rating, min: 1, max: 5, :class => 'input' %><br>

            <%= f.hidden_field :purchased_item_id, :value => @purchased_item.id %>
            <%= f.hidden_field :seller_id, :value => @seller.id %>
            <%= f.hidden_field :buyer_id, :value => @buyer.id %>
        <div class='submit'>
            <%= f.submit "Submit Review", :class => 'bttn' %>
        </div>    
        <% end %>
</div>
