<!DOCTYPE html>
<html>
  <head>
    <title>ScareCrow</title>
      <%= favicon_link_tag asset_path('favicon.ico') %>
      <%= stylesheet_link_tag 'welcome' %>
  </head>

  <body>
    <%= link_to image_tag('logo.png'), root_path, class: "logo" %>

    <% if @user.valid? %>
    <%= link_to image_tag('cart.png'), pending_carts_path, class: 'cart' %>   
    <% end %>

      <div class='header'>

        <% if @user.valid? %>
          <div class='greeting'>
            Hi, <%= @user.name %> Welcome!
          </div>
          
          <div class='myaccount'>
            <button>My Account</button>
            <ul>
              <li><%= button_to 'Porfile', user_path(@user), class: 'account_tab', :method => 'get' %></li>
              <li><%= button_to 'Edit', edit_user_path(@user), class: 'account_tab', :method => 'get' %></li>
              <li><%= button_to 'History', purchased_items_path, class: 'account_tab', :method => 'get' %></li>
            </ul>
          </div>
    
        <% else %>
          <%= button_to 'Log In', login_path, :method => 'get', class: 'path_box' %>
          <%= button_to 'New Account', signup_path, :method => 'get', class: 'path_box' %>
        <% end %>

          <div class='browse'>
            <button>Browse</button>
              <ul>
              <li><%= button_to 'All Item', products_path, class: 'browse_tab', :method => 'get' %></li>
              <li><%= button_to 'Shoes', shoepage_path, class: 'browse_tab', :method => 'get' %></li>
              <li><%= button_to 'Streetwears', streetwearpage_path, class: 'browse_tab', :method => 'get' %></li>
              <li><%= button_to 'Accessories', accessorypage_path, class: 'browse_tab', :method => 'get' %></li>
              </ul>
          </div>
    
            <%= button_to "Sell", new_product_path, :method => 'get', class: 'path_box' %>
            <%= button_to 'Log Out', logout_path, :method => 'post', class: 'path_box' %>
      
      </div>

    <%= yield %>
  </body>
</html>
